<strong>Hello, {{ deliveryman }}</strong>

<p>You have a new order to delivery.</p>

<strong>Product ID: </strong>{{ id }}<br /><br />
<strong>Product: </strong>{{ productName }}<br /><br />

<strong>Recipient Details: </strong><br />
<p>
  <strong>Name: </strong>{{ recipientName }}<br />
  <strong>Street: </strong>{{ recipientStreet }}<br />
  <strong>Number: </strong>{{ recipientNumber }}<br />
  <strong>ZipCode: </strong>{{ recipientZipCode }}<br />
  <strong>City: </strong>{{ recipientCity }}<br />
  <strong>State: </strong>{{ recipientState }}<br />
  <strong>Complement: </strong>{{ recipientComplement }}
  <br /><br />
  <small>
    The delivery is now available for withdraw in your company, of 08:00 AM to 06:00 PM.
  </small>
</p>